<ion-content scroll="true" >
    <div class="bar bar-header bar-positive">
        <h1 class="title">Home</h1>
    </div>


    <br>
    <br>
    <br>

    <div ng-show="loadingTrue">
        <center>
            <ion-spinner icon="lines" class="spinner-calm"></ion-spinner><br>
            <small>If it takes too long to load, please check your Internet connection.</small>
        </center>
    </div>
    <!--
    <div class="card"  ng-repeat="cat in categories">
      <div class="item item-text-wrap"   ng-click="showEvents($index)" >
        {{cat}}
      </div>
    </div>
    -->

    <br>
    <br>



    <ion-list class="list" can-swipe="true" ng-repeat="cat in categories" ng-show="!loadingTrue">
        <ion-item   class="item"  ng-click="showEvents($index)" >
            {{cat}}    
        </ion-item>
    </ion-list>

    <br>
    <br>
    <br>
    <button class="btn btn-primary" ng-onclick="exitApplication">Exit Application</button>

</ion-content>